*
	{
		padding: 0;
		margin: 0;
		outline: none;
		text-decoration: none;
		font-weight: normal;
		list-style-type: none;
		font-family: tahoma, arial, sans-serif;
		background-repeat: no-repeat;
	}
body
	{
		position: relative;
	}
.footBot
	{
		position: fixed;
		width: 100%;
		height: 100%;
	}
#container
	{
		width: 100%;
		padding-top: 60px;
	}
.mid
	{
		width: 960px;
		margin: 0 auto;
		display: block;
	}
.borderBox
	{
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
.left
	{
		float: left;
	}
.right
	{
		float: right;
	}
.invisible
	{
		opacity: 0;
	}
.clear
	{
		clear: both;
	}
.afterClear:after
	{
		content: '.';
		height: 0;
		display: block;
		overflow: hidden;
		visibility: visible;
		clear: both;
	}
.block
	{
		display: block;
	}
.inBlock
	{
		display: inline-block;
	}
.hidden
	{
		display: none;
	}
input[type="submit"]
	{
		cursor: pointer;
	}
input[type="checkbox"], input[type="radio"]
	{
		display: none;
	}
.styleCheckbox
	{
		display: inline-block;
		width: 12px;
		height: 12px;
		border:1px solid #ccc;
		margin-right: 5px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-transition:border-color 0.4s ease-out;
		-moz-transition:border-color 0.4s ease-out;
		-o-transition:border-color 0.4s ease-out;
		transition:border-color 0.4s ease-out;
	}
.secInput:active .styleCheckbox
	{
		border-style: dotted;
	}
input[type="checkbox"]:hover + .styleCheckbox, input[type="radio"]:hover + .styleCheckbox
	{
		border-color: #bdbdbd;
	}
input[type="checkbox"]:checked + .styleCheckbox, input[type="radio"]:checked + .styleCheckbox
	{
		border-color: #395F8C;
		background-image: url('../images/box.png');
	}
textarea
	{
		resize:none;
	}
.error
	{
		font-size: 14px;
		color: rgb(235, 123, 123);
	}
@-webkit-keyframes fade
	{
		0%
			{
				opacity: 0;
			}
		100%
			{
				opacity: 1;
			}
	}
.load
	{
		-webkit-animattion:fade ease-out 0.3s;
	}
.home .postMid
	{
		padding-top: 30px !important;
	}
.home .posts
	{
		padding: 0;
		background-color: transparent;
	}
.home #container
	{
		background-color: #f0f0f0;
	}
.opaque
	{
		opacity: 1 !important;
	}
.textBorder
	{
		border:1px solid #dfdfdf !important;
	}
.courseReg, .dialog
	{
		position: fixed;
		top: 80px;
		width: 200px;
		margin: auto;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 15px;
		padding: 12px 15px;	
	}
.success
	{
		color: rgb(41,127,41);
		background-color: rgb(160,245,160);
		border:1px solid rgb(87,190,87);
	}
.success p
	{
		color: rgb(41,127,41);
	}
.err
	{
		color: rgb(132,44,44);
		background-color: rgb(242,149,149);
		border:1px solid rgb(190,80,80);
	}
.err p
	{
		color: rgb(132,44,44);
	}

