#container
	{
		padding-bottom: 80px;
	}
.profileMid
	{
		width: 960px;
		margin:0 auto;
		padding: 30px 0;
	}
.profile
	{
		height: 234px;
		position: relative;
	}
.pic
	{
		width: 200px;
		height: 230px;
		position: relative;
		overflow: hidden;
		border:2px solid #fff;
		box-shadow: 0 0 1px #565656;
	}
.pic .picContainer
	{
		width: 100%;
		height: 230px;
	}
.picEdit
	{
		width: 100%;
	}
.picEdit .edit
	{
		display: inline-block;
		line-height: 40px;
		cursor: pointer;
		background-color: #343434;
		border:none;
		box-shadow: none;
		width: 100%;
		height: 40px;
		text-align: center;
		color: #fff;
		font-size: 17px;
	}
.picEdit .edit:hover
	{
		text-decoration: none;
	}
.edit input[type="file"]
	{
		display: none;
	}
.aniContainer
	{
		position: absolute;
		width: 100%;
		top: 0;
		transition:top ease-out 0.3s;
	}
.pic:hover .aniContainer
	{
		top: -40px;
	}
.pic img
	{
		width: 100%;
		height: 100%;
	}
.details
	{
		margin-top: 30px;
		text-align: right;
	}
.details h3
	{
		font-size: 26px;
		color: #5f5f5f;
		margin-bottom: 12px;
		letter-spacing: 1px;
	}
.details h4
	{
		font-size: 17px;
		color: #919191;
	}
.menu
	{
		margin-top: 40px;
		margin-left: 100px;
		height: 40px;
		box-sizing:border-box;
		background-color: #f0f0f0;
	}
.menu li
	{
		float: left;
		height: 40px;
	}
.menu li a
	{
		display: inline-block;
		padding: 0 30px;
		height: 100%;
		line-height: 40px;
		text-align: center;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: bold;
		color: #969696;
		box-sizing:border-box;
		border-bottom: 2px solid transparent;
		transition:color ease-out 0.3s, border-color ease-out 0.3s;
	}
.menu li a:hover, .menu li a.active
	{
		color: #767676;
		border-color: #5074A0;
	}
.postMid > div, .menuContent > div > div
	{
		width: 470px;
	}
.pic .loading
	{
		position: absolute;
		width: 40px;
		height: 40px;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		background-image: url('../images/loading.gif');
		background-color: #FFF;
		background-position: center;
		border: 1px solid #747474;
	}