.lane > div
	{
		background-color: #fff;
		margin-bottom: 15px;
		border:1px solid #d9d9d9;
	}
.lane > div .type
	{
		font-size: 24px;
		font-family: calibri;
		color: #616161;
		margin: 10px 30px;
	}
.type .edit
	{
		font-size: 12px;
		text-transform: uppercase;
		color: #395F8C;
		cursor: pointer;
		line-height: 29px;
		font-weight: bold;
		opacity: 0;
		-webkit-transition:opacity ease-out 0.3s;
		-moz-transition:opacity ease-out 0.3s;
		-o-transition:opacity ease-out 0.3s;
		transition:opacity ease-out 0.3s;
	}
.lane > div:hover .edit
	{
		opacity: 1;
	}
.edit:hover
	{
		text-decoration: underline;
	}
.lane .text
	{
		width: 300px;
		margin: 10px 0;
		margin-left: 50px;
		padding: 4px 8px;
		font-size: 15px;
		line-height: 22px;
		color: #5f5f5f;
		border-color: transparent;
	}
textarea.text
	{
		height: 22px;
	}
.save, .add
	{
		cursor: pointer;
		margin: 10px 30px 20px 30px;
		background-color: #395F8C;
		border:none;
		padding: 5px 10px;
		font-size: 16px;
		color: #fff;
		border:1px solid #fff;
		box-shadow: 0 0 2px #395F8C;
		-webkit-transition:background-color 0.3s ease-out, box-shadow 0.3s ease-out;
		-moz-transition:background-color 0.3s ease-out, box-shadow 0.3s ease-out;
		-o-transition:background-color 0.3s ease-out, box-shadow 0.3s ease-out;
		transition:background-color 0.3s ease-out, box-shadow 0.3s ease-out;
	}
.save:hover, .add:hover
	{
		background-color: #747474;
		box-shadow: 0 0 2px #747474;
	}