.heading
	{
		font-size: 32px;
		color: #747474;
		margin-bottom: 25px;
	}
#logIn, #register
	{
		padding-top: 80px;
	}
.inputField
	{
		height: 32px;
		width: 240px;
		position: relative;
	}
.inputField
	{
		margin-bottom: 25px;
	}
.fieldLabel
	{
		cursor: text;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		text-align: center;
		width: 80px;
		font-size: 12px;
		text-transform: uppercase;
		color: #a3a3a3;
		line-height: 32px;
		-webkit-transition:left 0.4s ease-out, background-color 0.4s ease-out, color 0.4s ease-out;
		-moz-transition:left 0.4s ease-out, background-color 0.4s ease-out, color 0.4s ease-out;
		-o-transition:left 0.4s ease-out, background-color 0.4s ease-out, color 0.4s ease-out;
		transition:left 0.4s ease-out, background-color 0.4s ease-out, color 0.4s ease-out;
	}
.inputField input
	{
		padding-left: 90px; /* 80 + 10 */
		-webkit-transition:padding-left 0.4s ease-out, border-color 0.4s ease-out;
		-moz-transition:padding-left 0.4s ease-out, border-color 0.4s ease-out;
		-o-transition:padding-left 0.4s ease-out, border-color 0.4s ease-out;
		transition:padding-left 0.4s ease-out, border-color 0.4s ease-out;
	}
.inputField input:hover
	{
		border-color: #bdbdbd;
	}
.inputField input:focus
	{
		padding-left: 10px;
		border-color: #395F8C !important;
	}
.inputField input:focus + .fieldLabel
	{
		left: -80px;
		background-color: #395F8C;
		color: #fff;
	}
input[type="submit"]
	{
		padding: 4px 15px;
		height: 32px;
		font-size: 15px;
		color: #fff;
		background-color: #395F8C;
		border: 1px solid #fff;
		box-shadow: 0 0 2px #395F8C;
		-webkit-transition:background-color 0.3s ease-out, box-shadow 0.3s ease-out;
		-moz-transition:background-color 0.3s ease-out, box-shadow 0.3s ease-out;
		-o-transition:background-color 0.3s ease-out, box-shadow 0.3s ease-out;
		transition:background-color 0.3s ease-out, box-shadow 0.3s ease-out;
	}
input[type="submit"]:hover
	{
		background-color: #747474;
		box-shadow: 0 0 2px #747474;
	}
.secInput
	{
		font-size: 13px;
		color: #808080;
		margin-bottom: 8px;
		display: inline-block;
	}
#registerForm .secInput
	{
		margin: 0 10px 12px 0;
	}
.registerLink
	{
		margin-bottom: 30px;
	}
.registerLink a
	{
		font-size: 14px;
		color: #395F8C;
	}
.errorMsg
	{
		font-size: 14px;
		position: relative;
		max-width: 200px;
		display: inline-block;
		padding: 5px;
		left: 100%;
		top: -30px;
		opacity: 0;
		background-color: #555;
		color: #fff;
		border: 1px solid #fff;
		box-shadow: 0 0 2px #555;
		-webkit-transition:left 0.3s ease-out, opacity 0.3s ease-out;
		-moz-transition:left 0.3s ease-out, opacity 0.3s ease-out;
		-o-transition:left 0.3s ease-out, opacity 0.3s ease-out;
		transition:left 0.3s ease-out, opacity 0.3s ease-out;
	}
.errorMsg:after
	{
		
		content: '';
		position: absolute;
		top: 4px;
		left: 0;
		margin-left: -8px;
		width: 0; height: 0;
		border-right: 8px solid #555;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
	}
.error:hover .errorMsg
	{
		left: 106%;
		opacity: 1;
	}